@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    font-size: 14pt;
}

a {
    text-decoration: none;
    color: #eee;

}

header {
    background-color: #eee;
    opacity: 0,1;
    color: #eee;
    padding-top: 1px;
    padding-bottom: 2px;
}

header nav a {
    text-decoration: none;
    color: black;
    padding: 10px;
}


header nav a:hover {
    border-bottom: solid 2px gray;
    color: gray;
}

.right {
    text-align: right;
}

.email {
    text-decoration: none;
    color: black;
}

.flex-nav {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding: 2px;
    
}

.social-icons {
    padding-right: 10px;
}

.social-icons img {
    padding: 0 5px;
    align-items: baseline;
}

.carousel-item {
    background-color: rgb(19, 19, 123);
    height: 150px;
    position: relative;
}

.carousel-item .carousel-item-text  {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #eee;
}


.carousel-control-prev-icon {
    filter: invert(0);
}

.carousel-indicators [data-bs-target] {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    color: #eee;
}